<div class="d-flex justify-content-center vh-100 image">
  <div class="m-auto">
    <label class="fw-bold fs-6 mb-4">Bienvenido</label>
    <form [formGroup]="loginForm">
      <div class="w-100 mb-3">
        <label>Correo electrónico</label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="correo@servicio.com"
          autocomplete="on"
        />
        <div *ngIf="invalidInput('email')">
          Ingrese una dirección de e-mail válida
        </div>
      </div>

      <div class="w-100 mb-3">
        <label>Contraseña</label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="contraseña"
          autocomplete="on"
        />
        <div *ngIf="invalidInput('password')">
          Ingrese una contraseña válida
        </div>
      </div>

      <button
        type="button"
        mat-raised-button
        color="primary"
        class="w-100 bg-primary mb-4"
        (click)="save()"
      >
        Iniciar sesión
      </button>

      <div class="d-flex justify-content-between">
        <label>¿No tienes una cuenta?</label>
        <a routerLink="/register" class="text-primary">Registrarme</a>
      </div>
    </form>
  </div>
</div>